<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Paula.Properties.Settings.estoqueConnectionString"
            connectionString="server=localhost;user id=root;database=estoque;allowuservariables=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="Paula.Properties.Settings.ConnectionString" connectionString="Data Source=FernandoSilva;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
